@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/logincover.jpg");
    background-size: cover;
    background-position: center;
}

.box {
    border-radius: 20px;
    width: 700px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 10);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(3px);
}

.box h1 {
    margin-top: 5px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username,
.password {
    position: relative;
    color: #fff;
}

input::placeholder{
  color: #fff;
  
  font-family: "Montserrat", sans-serif;
}

.fa-regular.fa-envelope,
.fa-solid.fa-lock {
    position: absolute;
    left: 5px;
    top: 13px;
    color: rgb(256, 256, 256);
}

.fa-regular.fa-envelope,
.fa-solid.fa-lock {
    font-size: 1.5rem;
    color: rgb(256, 256, 256);
}

.box input[type="text"],
.box input[type="password"] {
    font-size: 20px;
    border: none;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid #fff;
    padding: 14px 10px;
    width: 550px;
    color: #fff;
    border-radius: 24px;
    transition: all .2s ease-in;
    outline: none;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    border-color: #0367fd;
}

.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#btn {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 14px 35px;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    color: rgb(256, 256, 256);
    border-radius: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    background-color: #0367fd;
}

#btn:hover {
    background-color: #025edc;
}

img {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    display: block;
}